 @charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --fonte1: Verdana; /* , Geneva, Tahoma, sans-serif */
    --fonte2: "Momo Trust Display";
    --fonte3: "Source Code Pro";
}


 *{
    margin: 0px;
    padding: 0px;
 }

 html, body{
    font-family: var(--fonte2);
    min-height: 100vh;
    background-color: plum;
 }

.maginauto{
   margin: auto;
}

header{
   text-align: center;
   border-radius: 3px;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
  background: linear-gradient(
    135deg,
    #ad4bdbfb 10%,
    #b35ef5 20%,
    #ad4bdbd3 30%,
    #c86fff 40%,
    #ad4bdb9c 55%,
    #9350e0 70%,
    #ad4bdb62 85%,
    #6d30c5 100%
  );
  background-attachment: fixed;
  background-size: 200% 200%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
   
   /*
    background: linear-gradient(rgba(128, 0, 128, 0.267), rgba(128, 0, 128, 0.397), rgba(128, 0, 128, 0.452), rgba(128, 0, 128, 0.5 )); /*rgba(128, 0, 128, 0.548);
    text-align: center;
    border-radius: 3px;
    color: black;
    box-shadow: 5px 5px 5px rgba(36, 35, 35, 0.459); */
  

 header > h1{
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 2.4em;

 }

 header > p{
    padding-bottom: 50px;
 }

 a{
    color: black;
    background-color: rgba(128, 0, 128, 0.555);
    padding: 2px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bolder;
 }

a:hover{
   background-color: rgba(74, 23, 122, 0.507);
}

header a:hover, footer a:hover{
    text-decoration: underline;
 }


 section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte2);
    font-size: 1.5em;
 }

section > p{
    padding: 2em;
}

 section.normal{
  background: linear-gradient(
    135deg,
    #ad4bdbfb 10%,
    #b35ef5 20%,
    #ad4bdbd3 30%,
    #c86fff 40%,
    #ad4bdb9c 55%,
    #9350e0 70%,
    #ad4bdb62 85%,
    #6d30c5 100%
  );
  background-attachment: fixed;
  background-size: 200% 200%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }

    /*background: linear-gradient(to bottom, #ad4bdb4d, #ad4bdb62, #ad4bdb7e, #ad4bdb8f, #ad4bdb9c,  #ad4bdbad, #ad4bdbc0, #ad4bdbd3, #ad4bdbe7, #ad4bdbef, #ad4bdbfb); /* linear-gradient(rgba(128, 0, 128, 0.164), rgba(74, 1, 92, 0.384), rgba(53, 2, 94, 0.404)); /*rgba(128, 0, 128, 0.397); 
    color: rgba(24, 23, 23, 0.973); */
}
 

 section.imagem{
    box-shadow: inset 6px 6px 13px 0px black;
    background-color: rgb(63, 1, 63); 
    color: rgb(255, 255, 255); 
    background-size: cover;
    background-attachment: fixed;
 }

 section > li{ 
    display: inline-block;
    background-color: rgba(27, 27, 27, 0.548);  /* rgba(29, 28, 28, 0.61); */
    padding: 5px; 
 }

 .fundo{
   display: inline-block;
   background-color: rgba(29, 28, 28, 0.61);
   padding: 5px;
   text-shadow: 2px 2px 0px black; 
 }


section#img01{
    background-image: url(imagens/collor\(1\).jpeg);
    background-position: right center;

}

section#img02{
    background-image: url(imagens/nazismo.jpg);
    background-position: center;

}

section#img02 > p{
   background-color: rgba(29, 28, 28, 0.61);
}

section#img03{
   background-image: url(imagens/facismo\(2\).jpeg);
   background-position: center;

}

section#img04{
   background-image: url(imagens/henrique.jpg);
   background-color: rgba(29, 28, 28, 0.61);

}

iframe{
   padding: 10vh;
   display: block;
   margin: auto;
}

 footer{
    background-color: rgba(128, 0, 128, 0.315);
    text-align: center;
    color: white;
    padding: 15px;
 }

